---
layout: default
title: Lists
permalink: /list/
---

<div class="home">

  <ul class="post-list">

    {% assign sorted = (site.posts | sort: 'title') %}
    {% for item in sorted %}
    {% if item.categories contains "list" %}
      <li>
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

        <h2>
          <a class="post-link" href="{{ item.url }}">{{ item.title }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href=feed.xml">via RSS</a></p>-->

</div>
