<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  <link rel="me" href="https://github.com/efferifick" />
  <link rel="me" href="https://gitlab.com/efferifick" />
  <link rel="me" href="mailto:eochoa@ualberta.ca" />
  <link rel="me" href="mailto:erick.ochoa@theobroma-systems.com" />
  <link rel="webmention" href="https://webmention.io/ceci-nest-pas.me/webmention" />
  <link rel="pingback" href="https://webmention.io/ceci-nest-pas.me/xmlrpc" />
  
</head>
